@import 'tailwindcss';

/* Miniflix theme variables */
@theme {
  --color-primary: #db0000;
  --color-secondary: #564d4d;
  --color-accent: #831010;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Fonts */
  --font-logo: 'Bowlby One';
  --font-body: 'Raleway';
}

body {
  background-color: var(--color-secondary);
}

.movie-card-wrapper {
  @apply block bg-white rounded-lg shadow hover:shadow-lg transition overflow-hidden p-2;
}

.movie-card-image {
  @apply w-full h-full md:h-96 relative object-cover rounded-lg overflow-hidden hover:scale-110 transition-all;
}
