@import 'tailwindcss';

/* Miniflix theme variables */
@theme {
  --color-primary: #db0000;
  --color-secondary: #564d4d;
  --color-accent: #831010;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Fonts */
  --font-logo: 'Bowlby One';
  --font-body: 'Bricolage Grotesque', 'sans-serif';
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary);
}

#search-movie::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: white;
  background: url('/close-x.svg') no-repeat center;
  background-size: contain;
  cursor: pointer;
}
